.fade-in {
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.main {
    width:80%;
    margin: 0 auto;
}

.triangle {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #CE352C;
}